@model IEnumerable<StockDisplayModel>
@{
    Layout = "_AdminLayout";
}
<h2>Stocks</h2>

<form asp-action="Index" method="get" class="my-2 d-flex gap-2">
    <input type="text" class="form-control w-25" name="sTerm" placeholder="Search by book">
    <button class="btn btn-primary" type="submit">Find</button>
    <a asp-action="Index" asp-controller="Stock" class="btn btn-primary">Clear</a>
</form>

<table class="table table-bordered">
    <tr>
        <th>Book</th>
        <th>Stock</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model) { 
        <tr>
            <td>@item.BookName</td>
            <td>@item.Quantity</td>
            <td>
                <a asp-action="ManageStock" asp-controller="Stock" class="btn btn-primary" asp-route-bookId="@item.BookId">Update Stock</a>
                 </td>
        </tr>
    }
</table>